*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    color: #454545;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    padding: 0 5% 0 5%;
}

main{
    padding-bottom: 150px;
}

header{
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 2% 0 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    color: #454545;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

.header{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 40%;
}

img{
    margin: 1%;
    width: 31%;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-around;
    height: 170px;
    border-top: 1px solid #45454583;
    border-width: 120%;
    color: #4545457b;

}

footer a{
    color: #45454583;
    text-decoration: none;
}

footer a:hover{
    transition: ease-in-out 0.3s;
    color: #fbab6a;

}

.middle{
    display: flex;
    flex-direction: column;
}

.leftFooter,
.rightFooter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    line-height: 1.375em;
    font-weight: 300;
}

.leftFooter{
    width: 60%;
}

.rightFooter{
    width: 40%;
}